/**
 * Form
 */
form{
    > br{
        display: none;
    }
    label{
        margin-right: -2rem;
        margin-left: -2rem;
        padding: 1rem 2rem;
        &:after{
            content:' ';
            display: block;
            height: .3rem;
            margin: 1rem -2rem 0;
            background:
                linear-gradient(
                    45deg,
                    transparent 48%,
                    color(muted) 48%,
                    color(muted) 52%,
                    transparent 52%
                )
                repeat
                top left/.3rem .3rem
            ;
        }
        &:first-of-type{
            border-top: none;
        }
    }
    input[type="submit"]{
        margin-top: 3rem;
    }
}
.helptext{
    @include font(small);
    position: relative;
    display: block;
    min-height: 1.5em;
    margin: 2rem 0;
    &:before{
        content: '\f05a';
        display: inline-block;
        vertical-align: middle;
        margin-right: .25em;
        color: color(calm);
        font-size: 1.5em;
        font-family: 'FontAwesome', sans-serif;
    }
}
.errorlist{
    margin: 0;
    list-style: none;
    text-align: right;
    li{
        @include font(small);
        display: inline-block;
        margin-bottom: 1rem;
        color: color(link);
        &:before{
            content: '\f06a';
            display: inline-block;
            margin-right: .5em;
            color: color(link);
            font-family: 'FontAwesome', sans-serif;
        }
    }
    + input,
    + select,
    + textarea{
        border-color: color(link);
    }
}
