{% extends "base.html" %}
{% load staticfiles leaflet_tags django_markdown %}
{% block content %}
<div class="contenthead">
    <h1 class="contenthead-title">{{ title }}</h1>
    <a href="{% url 'categories_list' %}" class="back fontawesome-chevron-left">Back to services</a>
</div>

{% leaflet_map "main" callback="main_map_init" settings_overrides=view.settings_overrides %}
    <script type="text/javascript">


        function onEachFeature(feature, layer) {
            if (feature.properties && feature.properties.popupContent) {
                layer.bindPopup(feature.properties.popupContent);
                layer._popup.options.minWidth = 300;
            }
        }

        function main_map_init (map, options) {
            var dataurl = '{% url "data" id=id %}';
            // Download GeoJSON via Ajax
            $.getJSON(dataurl, function (data) {
                // Add GeoJSON layer
                L.geoJson(data, {onEachFeature: onEachFeature}).addTo(map);
            });
            leafletImage(map, function(err, canvas) {
                // now you have canvas
                // example thing to do with that canvas:
                var img = document.createElement('img');
                var dimensions = map.getSize();
                img.width = dimensions.x;
                img.height = dimensions.y;
                img.src = canvas.toDataURL();
                document.getElementById('mapdownload').href = img.src;
            });
        }



    </script>

<div class="center">
    <a class="btn fontawesome-cloud-download" id="mapdownload">Download map</a>
</div>
{% endblock %}
