{% load staticfiles leaflet_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>healthmate</title>
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  </head>

  <body>
    {% block header %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
    {% endblock %}
    {% block postbodyjs %}
    {% endblock postbodyjs %}
  </body>
</html>
