{% load staticfiles leaflet_tags i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>healthmate</title>
    <link rel="stylesheet" href="{% static "styles/styles.css" %}" />
    {% leaflet_js %}
    {% leaflet_css %}
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{% static "scripts/leaflet-image.js" %}"></script>
  </head>

  <body class="lang-{{ LANGUAGE_CODE }}">
    {% block header %}
        <header role="banner" class="page-header">
            <div class="content-wrapper">
                <a href="/" class="site-logo">Health Mate</a>
                <form class="languagechooser" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <select name="language">
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Go" />
                </form>
            </div>
        </header>
    {% endblock %}
    <main role="main" class="page-content content-wrapper">
        {% block content %}
        {% endblock %}
    </main>

    {% block footer %}
        <footer role="contentinfo" class="page-footer">
            <div class="content-wrapper">
                <p class="marginless">
                    <small>
                        An open project, started at <a href="http://www.empowerhack.com/">#empowerhack 2015</a>. <a href="https://github.com/empowerhack/HealthMate">Find us on Github</a>
                    </small>
                </p>
            </div>
        </footer>
    {% endblock %}
    {% block postbodyjs %}
    {% endblock postbodyjs %}
  </body>
</html>
