/**
 * Page header
 */

.page-header{
    background:
        linear-gradient(
            45deg,
            color(link) 48%,
            lighten(color(link),5%) 48%,
            lighten(color(link),5%) 52%,
            color(link) 52%
        )
        repeat
        top left/2rem 2rem
        color(link);
    .content-wrapper{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    @at-root{
        .site-logo{
            @include setsize(20rem 4rem);
            display: block;
            overflow: hidden;
            margin: auto;
            background: url('../images/logo.svg') no-repeat center center/contain transparent;
            text-indent: 100%;
            white-space: nowrap;
        }
    }
}
