/**
 * Page header
 */

.page-header{
    background:
        linear-gradient(
            to bottom,
            color(link),
            lighten(color(link),1%)
        )
        color(link);
    .content-wrapper{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    @at-root{
        .site-logo{
            @include setsize(20rem 4rem);
            display: block;
            overflow: hidden;
            margin: auto;
            background: url('../images/logo.svg') no-repeat center center/contain transparent;
            text-indent: 100%;
            white-space: nowrap;
        }
    }
}
