/**
 * Shame file
 * Add quick changes here, to be incorperated properly at a later point
 */

.content-wrapper{
    width: auto;
    max-width: rem(1000);
    margin: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

.marginless{
    margin-bottom: 0;
}
.btn{
    display: inline-block;
    padding: 1em;
    border: none;
    border-radius: .25rem;
    background: color(link);
    color: color(white);
    text-decoration: none;
    text-align: center;
    transition: .25s ease;
    cursor: pointer;
    &:hover{
        color: color(white);
        background: color(calm);
    }
    &--quiet{
        border: .1rem solid color(muted);
        background: transparent;
        color: color(default);
    }
}

.gate{
    margin: 0;
    list-style: none;
    &-route{
        margin: 2rem 0;
        a{
            display: block;
            &:before{
                display: block;
                font-size: 3em;
                transition: transform .25s ease;
            }
            &:hover{
                &:before{
                    transform: translateY(-1rem) rotateZ(5deg);
                }
            }
        }
    }
    @include breakpoint(pebble){
        display: flex;
        margin-right: -1rem;
        margin-left: -1rem;
        &-route{
            flex: 1 1;
            margin: 0 1rem;
        }
    }
}

.contenthead{
    text-align: center;
    &:after{
        content:' ';
        display: block;
        width: 100%;
        max-width: 30rem;
        height: .5rem;
        margin: 2rem auto 3rem;
        background:
            linear-gradient(
                45deg,
                transparent 48%,
                color(link) 48%,
                color(link) 52%,
                transparent 52%
            )
            repeat
            top left/.5rem .5rem
        ;
    }
    > *{
        margin: 0;
    }
    &-title{
        margin: 0;
        font-size: 1.5em;
        + .contenthead-intro{
            padding-top: 1rem;
        }
    }
    &-intro{
        width: auto;
        max-width: 60rem;
        margin-right: auto;
        margin-left: auto;
    }
}

.catlist{
    margin: 0;
    list-style: none;
    &-item{
        margin: 0;
        a{
            @include pos(r);
            display: block;
            padding: rem(10 20);
            border-bottom: rem(1) solid color(muted);
            color: color(default);;
            text-decoration: none;
            &:after{
                @include pos(a, t1rem r2rem);
                @include setsize(1.5em);
                content:'>';
                display: block;
                border-radius: 100%;
                color: color(white);
                background: color(link);
                line-height: 1.5em;
                text-align: center;
                transition: transform .2s ease;
            }
            &:hover{
                color: color(link);
                &:after{
                    transform: translateX(1rem);
                }
            }
        }
        &:last-child a{
            border-bottom: none;
        }
    }
}
